<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1>past_medical_history#edit</h1>
  <div class="container-head-content col-sm-12 col-md-12 col-lg-12">
  <h3>
    You can edit your past medical history information here.
  </h3>
  </div>
</div>

  <%= render 'form' %>
