<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1>Top#index</h1>
  <div class="container-head-content col-sm-12 col-md-12 col-lg-12">

    <% if notice.nil? == false %>
      <div class="alert alert-success col-md-6 col-md-offset-3" role="alert">
      	<div class="container">
      		<div class="alert-icon">
      			<i class="now-ui-icons ui-2_like"></i>
      		</div>
      		<strong>Well done!</strong> <%= notice %><%= alert %>
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      				<span aria-hidden="true">
      				<i class="now-ui-icons ui-1_simple-remove"></i>
      			</span>
      		</button>
      	</div>
      </div>
      <% end %>

    <div class="container-main col-sm-12 col-md-12 col-lg-12">
      <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
        <%= link_to "backgrounds_index", backgrounds_path %>
      </div>


    </div>
  </div>
</div>
