<ul>
  <% medicines.each do |medicine| %>
    <% unless medicine.id.nil? %>
    <div class="medicine">
      <span class="badge badge-info"><%= medicine[:medicine_name] %></span>
      <%= link_to "", background_medicine_path(medicine.background, medicine), class:"glyphicon glyphicon-remove text-muted", method: :delete, remote: true, data:{confirm:"are you sure to remove?"} %>
    </div>
    <% end %>
  <% end %>
</ul>
