<ul>
  <% medicines.each do |medicine| %>
    <% unless medicine.id.nil? %>
      <span class="badge badge-primary"><%= medicine[:medicine_name] %></span>
      <%= link_to "", background_medicine_path(medicine.background, medicine), class:"glyphicon glyphicon-remove", method: :delete, remote: true %>
    <% end %>
  <% end %>
</ul>
