<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1>◆Your background info</h1>
  <div class="container-head-content col-sm-12 col-md-12 col-lg-12">


    <div class="container-main col-sm-12 col-md-12 col-lg-12">
      <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
        <div class="wrapper-bg-form col-md-6 col-md-offset-3">

        <% if notice.nil? == false %>
        <p id= "notice"><%= notice %></p>
        <% end %>

      <div class="alert alert-success" role="alert">
      	<div class="container">
      		<div class="alert-icon">
      			<i class="now-ui-icons ui-2_like"></i>
      		</div>
      		<strong>Well done!</strong> Your registration has been successfully compleated.
      		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      				<span aria-hidden="true">
      				<i class="now-ui-icons ui-1_simple-remove"></i>
      			</span>
      		</button>
      	</div>
      </div>

      <%= link_to "backgrounds_new", new_background_path(@background), class:"btn btn-primary"%>

        </div>
      </div>
    </div>
  </div>
</div>
