<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1>◆Register Your Background info</h1>
  <div class="container-head-content col-sm-12 col-md-12 col-lg-12">
  <h3>
    You can register your background information here.
  </h3>
  </div>
</div>

  <%= render 'form' %>

  <div class="container-main-last col-xs-12 col-sm-12 col-md-12 col-lg-12">
  </div>
