<div class="container-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h1>present_illnesses#index</h1>
present_illnesses
  <div class="container-head-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Human Anatomical Models</h3>
    <div class="container-main col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <h5 class="text-primary">location</h5>
      <h5 class="text-primary">quality</h5>
      <h5 class="text-primary">severity</h5>
      <h5 class="text-primary">timing</h5>
      <h5 class="text-primary">setting in which it occurs</h5>
      <h5 class="text-primary">provoking or palliating factors</h5>
      <h5 class="text-primary">associated manifestations</h5>

      <div class="human_position col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <%= image_tag 'human_anatomical_models.jpg', usemap:"#Map", alt: "map", class: "human_models"%>

          <map name="Map">
               <area shape="rect" coords="450,25,570,150" href="" alt="human_head">
          </map>
      </div>


      <div class="container-main-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="wrapper-bg-form col-md-6 col-md-offset-3">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="jquery.rwdImageMaps.min.js"></script>
