<ul>
  <% allergies.each do |allergy| %>
    <% unless allergy.id.nil? %>
      <span class="badge badge-primary"><%= allergy[:allergy_name] %></span>
      <%= link_to "", background_allergy_path(allergy.background, allergy), class:"glyphicon glyphicon-remove", method: :delete, remote: true %>
    <% end %>
  <% end %>
</ul>
