/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_bootstrap.min.css.map
  *= require_bootstrap.min.css.map
 *= require_self
 */

 // @font-face {
 //   font-family:'nucleo-outline';
 //   src:font-url('nucleo-outline.eot');
 //   // src:font-url('icofonts.eot?#iefix') format('embedded-opentype'),
 //
 //
 // }

 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url(font-path('glyphicons-halflings-regular.eot'));
   src: url(font-path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
        url(font-path('glyphicons-halflings-regular.woff2')) format('woff2'),
        url(font-path('glyphicons-halflings-regular.woff')) format('woff'),
        url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'),
        url(font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

 html {
   position: relative;
   min-height: 100%;
 }

 body {
   background-color: #f5f7fb;
   min-height: 100%;
 }

 .navbar {
   margin-bottom: 0px;
 }

.full-container{
  min-height: 100%;
  padding-bottom: 150px;
}

.container-head{
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-head > h1 {
  margin-top: 0px;
}

.container-main{
  padding-bottom: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;

}


.container-main-last{
  padding-bottom: 150px;
}

footer {
  width: 100%;
  background-color: #f96332;
  padding: 20px 0 10px 0;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.badge{
  margin-bottom: 10px;

}

.signup_link{
  display: block;
  text-align: center;
}

.container-main-black{
  background-color: black;
}
