<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1>reviews#index</h1>
  reviews_path
</div>


<div class="container-main col-sm-12 col-md-12 col-lg-12">
  <div class="container-main-content col-sm-12 col-md-12 col-lg-12">

    <%= link_to "Create page", new_review_path, class:"btn btn-primary" %>

    <%= @review %>

  </div>

</div>
